
.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}


.cake_block {
  position: relative;
  width: 405px;
  padding: 20px;
  border-radius: 20px;
  background: linear-gradient(45deg, #f5e1bc, #fff1e6);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  cursor: pointer;
}


.cake_image {
  max-width: 100px;
  border-radius: 100px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.cake_image:hover {
  transform: scale(1.1);
}

.title {
  font-size: 30px;
}

.price {
  font-size: 24px;
}

.list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-row-gap: 5px;
    list-style: none;
}

.container_cost {
  display: flex;
  gap: 77px;

  span {
    margin-left: 10px;
    font-size: 24px;
  }

  .count {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: transparent;
  }
}

.btn_cart {
  display: flex;
  align-items: center;
  border: none;
  padding-left: 30px;
  border-radius: 30px;
  font-size: 18px;
  cursor: pointer;
  width: 50%;
  opacity: 0.7;
}

.btn_cart:hover {
  background-color: transparent;
  transition: all 0.3s ease-in-out;
  transform: scale(1.2);
  opacity: 1;
}

.btn_cart:active {
  transform: translateY(4px);
}

.description_container {
  display: flex;
}

.description {
  font-size: 16px;
  margin-left: 20px;
}




@media screen and (max-width: 1450px) {
  .list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    list-style: none;
    list-style-type: none;
  }
}


@media screen and (max-width:964px) {
  .list {
      display: grid;
      grid-template-columns: repeat(1, 2fr);
      gap: 50px;
      list-style: none;
      padding: 0;
      margin: 0;
      list-style-type: none;
    }
}













// Modal window
.nutrient_table {
  border-collapse: collapse;
  width: 80%;
  max-width: 600px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

  
}

.nutrient-table th,
.nutrient-table td {
  padding: 12px;
  text-align: center;
}

.nutrient-table th {
  background: linear-gradient(45deg, #f5e1bc, #fff1e6);
  color: black;
  font-weight: bold;
}

.nutrient-table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.nutrient-table tbody tr:hover {
  background-color: #ddd;
}










.close_icon {
  float: right;
  cursor: pointer;

  &:hover {
    scale: 1.2;
    transition: all 0.3s ease-in-out;
  }
}

