.sort_list {
  display: flex;
  gap: 30px;
  list-style: none;

  li {
    padding: 15px;
    border-radius: 20px;
    font-size: 24px;
    cursor: pointer;
    border: 1px solid #f1f1f1;
    font-size: 36px;
    display: flex;
    transition: all 0.3s ease-in-out;

    &:hover,
    &:focus,
    &:target {
      background: linear-gradient(45deg, #f5e1bc, #fff1e6);
      transition: all 5s linear;
    }
  }
}

