.sort_list {
  display: flex;
  gap: 30px;
  list-style: none;
}

.sort_list li {
  padding: 15px;
  border-radius: 20px;
  font-size: 34px;
  cursor: pointer;
  border: 1px solid #f1f1f1;
  display: flex;
  transition: all .3s ease-in-out;
  opacity: 0.7;

  &:hover,&:focus,&:active,&:target {
    background-color: #f2f2f2;
    transition: all 0.3s linear;
    color: pink;
  }
}